      <h4 class="panel-heading | subtitle is-4 | has-text-centered">
       Servicios
      </h4>
<%= link_to inline_svg_tag('icons/icon-arrow-back.svg'), services_path, class: 'icon is-medium' %>

<%= render 'form', service: @service %>

