<h4 class="panel-heading | subtitle is-4 | has-text-centered">Home Banners</h4>

<%= link_to 'Back', home_banners_path, class: 'button is-small primary-lightest'%>

<%= render 'form', home_banner: @home_banner %> 
