<h4 class="panel-heading | subtitle is-4 | has-text-centered">Home Banners</h4>

<%= link_to 'Edit', edit_home_banner_path(@home_banner) , class: 'button is-small is-primary' %> |
<%= link_to 'Back', home_banners_path, class: 'button is-small primary-lightest'%>
