<div class="media">
  <div class="media-content">
    <p class="title is-size-3 is-size-4-mobile "><%= @title %></p>
    <p class="subtitle is-size-4 is-size-5-mobile"><%= @body %></p>
  </div>
</div>