

<div class="container is-max-width">
  <div class="container">     
    <%#= link_to  service_item do %>
      <div class="card">
        <%= link_to 'Eliminar', service_service_item_path(@service, service_item.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'button is-small is-warning' %>
        <% if 1== 0 %>
          <div class="card-image px-2 py-2">
            <figure class="image is-4by3">
                <% if service_item.images.first.attached? %>
                  <%= image_tag(url_for(@service.image)) %>
                <% else %>
                <% end %>
            </figure>
          </div>
        <% end %>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4"><%= service_item.name %></p>
              <p class="subtitle is-6"><%= service_item.body %></p>
              <%#= render(PriceTagComponent.new(price: @service.price))%>
            </div>
          </div>
        </div>
      </div>
    <%# end %>
  </div>
</div>