<h1 class="title is-1 is-size-3-mobile | has-text-white">
  <%= @title %>
</h1>
<hr class="content-divider">
<h4 class="subtitle is-4 is-size-6-mobile | has-text-white"><%= @body %></h4>
<!-- <a href="#" class="button is-white is-inverted">Next&ensp;<i class="fad fa-chevron-right"></i></a> -->
