
// Update font family
$family-sans-serif: "Calibri", "Arial";

// Set your brand colors
$white: hsl(0, 0%, 100%);
$primary: hsl(0, 98%, 45%);
$info: hsl(198, 98%, 45%);
$danger: hsl(6, 71%, 49%);
$light: hsl(0, 0%, 93%);
$grey-lightest: hsl(0, 0%, 97%);
$grey-light: hsla(0, 0%, 97%, 0.8%);
$primary-lightest: rgba($primary, 0.1);
$primary-light: rgba($primary, 0.5);

$success:hsl(138, 91%, 45%); 
$warning: hsl(34, 100%, 50%);
$error: hsl(0, 100%, 50%);
$link: hsl(236, 79%, 56%);
$link-hover: rgba($primary, 0.8);
$link-hover-border: $primary;
$input-focus-border-color: $light;

$button-hover-color: inherit;

$pagination-current-background-color: $primary;
$pagination-current-border-color: $primary;
$pagination-focus-border-color: $primary;

$tabs-toggle-link-active-background-color: $primary-light;
$tabs-toggle-link-active-border-color: $primary-light;
$tabs-toggle-link-hover-border-color: $primary-light;
$tabs-toggle-link-radius: 2px;


$notification-radius: 2px;
$notification-padding: 1rem 2.5rem 1rem 1.5rem;

$box-radius: 3px;

$table-row-hover-background-color: $primary-lightest;
$table-head-cell-border-width: 0 0 1px;

$box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);