<h4 class="panel-heading | subtitle is-4 | has-text-centered">
  Sobre nosotros
</h4>

<%= link_to inline_svg_tag('icons/icon-arrow-back.svg'), abouts_path, class: 'icon is-medium' %>
<%= link_to inline_svg_tag('icons/ico-eye.svg'), @about , class: 'icon is-medium' %> 

<%= render 'form', about: @about %>
