<h4 class="panel-heading | subtitle is-4 | has-text-centered">
  Sobre nosotros
</h4>

<%= link_to svg('icon-arrow-back.svg'), abouts_path, class: 'icon is-medium' %>

<%= render 'form', about: @about %>s