<p id="notice"><%= notice %></p>

<%= link_to 'Back', photos_path %>
<%= link_to 'Edit', edit_photo_path(@photo) %> |

<h1>SHOW PHOTO</h1>

<% if @photo.image.attached? %>
  <%= image_tag @photo.image, width: '100' %>
<% end %>