@import "abstracts/bulma-variables";
@import 'bulma';

@import 'base/utilities';

@import "layouts/footer";
@import "layouts/header";
@import "layouts/main";
@import 'layouts/navbar';
@import "layouts/sidebar";

@import "components/albums";
@import "components/direct_uploads";
@import "components/home_banners";
@import "components/menu";
@import "components/notifications";
@import "components/opinions_sw";
@import "components/services";

a:hover {
  background: transparent !important;
}

.images {
display: flex;
flex-flow:row wrap;
float:left;
margin-top: 25px;
}

.col-light img {
margin: 10px;
cursor: pointer;
}








