@import "abstracts/bulma-variables";
@import 'bulma';

@import 'base/utilities';

@import "layouts/sidebar";
@import "layouts/footer";

@import "components/menu";
@import "components/notifications";
@import "components/albums";
@import "components/services";
@import "components/direct_uploads";
@import "components/opinions_sw";

.burger{
  position:absolute;
  top:15%;
  right: 0;
}

a:hover {
  background: transparent !important;
}

.images {
display: flex;
flex-flow:row wrap;
float:left;
margin-top: 25px;
}

.col-light img {
margin: 10px;
cursor: pointer;
}








