<footer class="is-large has-background-primary">
  <div class="content px-2 py-2">
    <div class="is-pulled-left">
      <%= this_year %> <strong><%= WebConfig.first.enterprise_name if WebConfig.first.enterprise_name.present? %></strong> Todos los derechos reservados.
    </div>
    <div class="is-pulled-right">
      Desarrollado por <strong>creaDix</strong> 
    </div>
  </div>
</footer>