<section class="hero is-info">
<div class="hero-body">
  <div class="container has-text-centered">
      <h1 class="title is-1 has-text-centered py-2">
        Servicios
      </h1>
    </div>
</div> 
</section>
<div class="container is-fluid  py-3 ">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <%= render(CardComponent.with_collection(@services)) %>
      </div>
    </div>
  </div>
</div>  
