<div class="container">
  <h1 class="title is-1 has-text-centered py-6"> <%= @album.title %></h1>
</div>

<% if 1==0 %>
  <div class="container is-fluid is-mobile my-6">
    <nav class="level is-mobile column-mobile">
      <div class="level-item has-text-centered">
        <div>
          <p class="subtitle is-5">
            <div class="pr-3"><%= @album.galleries.count %> Imagenes</div>
          </p>  
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Invitados</p>
          <p class="title"><%= @album.wedding_guest %></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Visistas</p>
          <p class="title">456K</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Likes</p>
          <p class="title">789</p>
        </div>
      </div>
    </nav>
  </div>
<% end %>

<!--contenedor galeria principal-->
<% if @album.present? %>
  <div class="container">
    <div class="lb-images">
      <div class="columns is-multiline is-pull-left">
        <% @galleries.each do |gallery| %>
          <% if gallery.images.attached?%>
              <div class="images" data-controller="lightbox" data-lightbox-options-value='{"controls": true, "loop":true}'>
                <% gallery.images.each do |imagen| %>
                  <%= image_tag url_for(imagen), data: {src: "#{rails_blob_url(imagen)}"}, class:"column is-3 col-light is-5by3" %>
                <% end %>
              </div>
          <% end %> 
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<!--contenedor galeria principal-->

